@model Models.WordSet

@{
    ViewBag.Title = "Delete";
}

<h2>Woordenlijst Verwijderen</h2>

<h3>Weet u zeker dat u deze woordenlijst wilt verwijderen?</h3>
<div>
    <h4>Woordenlijst</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WordSet_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WordSet_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WordSet_public)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WordSet_public)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maker_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maker_Id)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
