@model IEnumerable<Models.WordSet>

@{
    ViewBag.Title = "Index";
}

<h2>Overzicht Woordenlijsten</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>




    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-Public-tab" data-bs-toggle="pill" data-bs-target="#pills-Public" type="button" role="tab" aria-controls="pills-Public" aria-selected="true">Openbaar</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-Own-tab" data-bs-toggle="pill" data-bs-target="#pills-Own" type="button" role="tab" aria-controls="pills-Own" aria-selected="false">Mijn Spellen</button>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-Public" role="tabpanel" aria-labelledby="pills-Public-tab">

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.WordSet_Name)
                    </th>
                    <th>
                        Beschrijving
                    </th>
                    <th>
                        Maker
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Where(e => e.WordSet_public == true && e.Maker_Id.ToString() != Session["UserID"].ToString()))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.WordSet_Name)
                        </td>
                        <td>
                            Beschrijving
                        </td>
                        <td>
                            Maker
                            @*@Html.DisplayFor(modelItem => item.Maker_Id)*@
                        </td>
                        <td>
                            @Html.ActionLink("Inzien", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Kopier", "Copy", new { id = item.Id })
                        </td>
                    </tr>
                 }

            </table>

    </div>
<div class="tab-pane fade" id="pills-Own" role="tabpanel" aria-labelledby="pills-Own-tab">

    <p>
        @Html.ActionLink("WordSet Aanmaken", "Create", null, new { @class = "btn btn-success" })
    </p>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WordSet_Name)
            </th>
            <th>
                Beschrijving
            </th>
            <th>Openbaar </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.Maker_Id.ToString() == Session["UserID"].ToString())
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.WordSet_Name)
                    </td>
                    <td>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WordSet_public)
                    </td>
                    <td>
                        @Html.ActionLink("Bewerken", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Inzien", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Verwijderen", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        }

    </table>
</div>
</div>