@model Models.User
@{
    ViewBag.Title = "Edit";
    var ProfileImage = "";
    if (Model.Account.ProfileImage != null)
    {
        var base64 = Convert.ToBase64String(Model.Account.ProfileImage);
        ProfileImage = String.Format("data:image/gif;base64,{0}", base64);
    }
}

<h2>Gebruiker Bewerken</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <img src="@ProfileImage" class="img-thumbnail">
                </div>
                <div class="input-group mb-3">
                    <input type="file" id="profileFotoId" name="image" multiple="multiple" />
                </div>
            </div>
            <div class="col">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Account.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Account.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Account.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Account.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Account.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Account.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Account.Alias, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Account.Alias, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Account.Alias, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Account.Group, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Account.Group, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Account.Group, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Back to List", "Index",null, new { @class= "btn btn-danger" })
                        <input type="submit" value="Save" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">
        $("#profileFotoId").change(function () {
            var formData = new FormData();
            var totalFiles = document.getElementById("profileFotoId").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("profileFotoId").files[i];
                formData.append("profileFotoId", file);
                formData.append('Id', @Model.Id);
            }
            $.ajax({
                type: "POST",
                url: '/Users/SaveProfileImage',
                data: formData,  
                dataType: 'json',
                contentType: false,
                processData: false
                //success: function(response) {
                //    alert('succes!!');
                //},
                //error: function(error) {
                //    alert("errror");
                //}
            });
        });
    </script>

}


