@model IEnumerable<Models.User>

@{
    ViewBag.Title = "Gebruikers Overzicht";
}

<h2>Gebruikers Overzicht</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Account.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Rol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserActive)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Account.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_Rol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserActive)
            </td>
            <td>

                @Html.ActionLink("Inzien", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })

                @Html.ActionLink("Bewerk", "Edit", new { id = item.Id }, new { @class = "btn btn-success btn-sm" })
                <button type="button" class="btn btn-info btn-sm">Verwijder</button>
            </td>
        </tr>
    }

</table>
