@model Models.Rule

@{
    ViewBag.Title = "Regel Kopieren";
}

<h2>Regel Kopieren</h2>

<h3> Weet u zekker dat uw dit word wil kopieren</h3>
<div>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Rule_Name)
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Rule_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rule_Name)
            </dd>
                        <dt>
                @Html.DisplayNameFor(model => model.Rule_Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rule_Description)
            </dd>
        </dl>

        <div class="form-actions no-color">
            <input type="submit" value="Kopieren" class="btn btn-default" /> |
            @Html.ActionLink("Terug", "Index")
        </div>
    }
</div>

